:root{
    --font: 'Google Sans Code', monospace;
    --bgcolor: #001027;
    --textcolor: #f7f2ee;
}

body{
    font-family: var(--font);
    background-color: var(--bgcolor);
    color: var(--textcolor);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1{
    font-family: var(--font);
    font-size: 30px;

    margin-top: 100px;
    padding: 12px 24px;
}

p{
    font-family: var(--font);
    font-size: 22px;
}